<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="" style="center">
      <button type="button" name="button" id="buttonCadastro">Cadastro</button>
      <button type="button" name="button" id="buttonLogin">Login</button>
    </div>
    <script src="/javascripts/scripts.js"></script>
  </body>
</html>
